<robot
  name="ThinWheelHub">
  <link
    name="ThinHub">
    <inertial>
      <origin
        xyz="-0.0847696700259306 0.00031282455631885 -0.0952425383965569"
        rpy="0 0 0" />
      <mass
        value="2.724043620833" />
      <inertia
        ixx="0.0126793168668858"
        ixy="2.12395970096501E-07"
        ixz="0.00391425230934786"
        iyy="0.0275207449611712"
        iyz="3.25414052810152E-07"
        izz="0.0162832740419244" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ThinWheelHub/meshes/ThinHub.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ThinWheelHub/meshes/ThinHub.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Wheel">
    <inertial>
      <origin
        xyz="-0.0385289213523948 0.000315728425903221 0.0201166854458847"
        rpy="0 0 0" />
      <mass
        value="1.86318344508723" />
      <inertia
        ixx="0.0179963942930543"
        ixy="-2.15672374578627E-18"
        ixz="2.31647618750443E-34"
        iyy="0.0131272204160217"
        iyz="-1.94143329058776E-34"
        izz="0.0131272204160217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ThinWheelHub/meshes/Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ThinWheelHub/meshes/Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Axle"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="ThinHub" />
    <child
      link="Wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>