[submodule "rover/src/mtig_driver"]
	path = rover/src/mtig_driver
	url = https://github.com/lukscasanova/mtig_driver.git
[submodule "xsens_mti_ros_node"]
	path = xsens_mti_ros_node
	url = https://github.com/xsens/xsens_mti_ros_node.git
[submodule "rover/src/xsens_mti_ros_node"]
	path = rover/src/xsens_mti_ros_node
	url = https://github.com/xsens/xsens_mti_ros_node.git
