<launch>

    <!-- This launcher is for the rover and will set up the drive-controller and the camera script -->
    <!-- NOTE: pcLaunch is for the computer, it will be running the Navigation and Joystick nodes -->    
    <!-- IMPORTANT: roslaunch will automatically check if there is roscore running and , if not,
        will automatically start it itself -->

    
    <!-- Set up the environment variables from ROS_IP, HOST and MASTER_URI -->
    
    <env name="ROS_IP" value="192.168.1.3" />
    <env name="ROS_HOST" value="192.168.1.3" />
    <env name="ROS_MASTER_URI" value="http://192.168.1.15:11311" />    
  
    
    <!-- Start up the nodes we want to work with -->
    
    <!-- Nodes: Camera script, drivecontroller-->
    
    <!-- Camera Script -->
    <node 
        name="Camera_Script" 
        pkg="owr_camera_control" 
        type="activiate_feeds.py" 
    />
    
    <!-- Drive Controller -->
    
    <node
        name="Drive_Controller"
        pkg="owr_drive_controls" 
        type="owr_drive_arduino"
    />
        
</launch>