
<launch>

  <!-- Right camera driver -->
  <node pkg="agvc_vision" type="agvc_openni2_camera_node" name="right_camera" ns="/right" output="screen">
    <param name="device_id" value="#1"/>
    <rosparam file="$(find agvc_sensors)/config/openni2_camera_params.yaml"/>
  </node>

  <node pkg="agvc_vision" type="agvc_openni2_camera_node" name="left_camera" ns="/left" output="screen">
    <param name="device_id" value="#2"/>
    <rosparam file="$(find agvc_sensors)/config/openni2_camera_params.yaml"/>
  </node>

</launch>

