<robot
  name="RightBogey">
  <link name="base_link">
        <visual>
          <geometry>
            <box size=" .4   .6 .12"/>
          </geometry>
        </visual>
    </link>
  <joint name="base_to_bogey" type="fixed">
      <parent link="base_link"/>
      <child link="right_bogey_top"/>
	<!-- .2 from center on x -->
      <origin xyz=".3 0 0.027" rpy="0 3.14159265 1.57079633"/>
      <axis xyz="0 0 1" />
  </joint>
  <link
    name="right_bogey_top">
    <inertial>
      <origin
        xyz="-0.094382 0.035191 0.10396"
        rpy="0 0 0" />
      <mass
        value="1.3772" />
      <inertia
        ixx="0.013062"
        ixy="0.00030538"
        ixz="-0.018196"
        iyy="0.10669"
        iyz="-0.00024198"
        izz="0.096319" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/right_bogey_top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/right_bogey_top.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_front_wheel_hub">
    <inertial>
      <origin
        xyz="-0.11579 0.17312 -2.3336E-05"
        rpy="0 0 0" />
      <mass
        value="2.6838" />
      <inertia
        ixx="0.015763"
        ixy="-0.0036021"
        ixz="2.4611E-06"
        iyy="0.01238"
        iyz="4.0061E-07"
        izz="0.026734" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/right_front_wheel_hub.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/right_front_wheel_hub.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_bogey_hub"
    type="fixed">
    <origin
      xyz="-0.50057 -0.090687 0.51198"
      rpy="0 -1.5706 0" />
    <parent
      link="right_bogey_top" />
    <child
      link="right_front_wheel_hub" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_back_bogey">
    <inertial>
      <origin
        xyz="-0.078156 0.24943 -0.11724"
        rpy="0 0 0" />
      <mass
        value="6.2866" />
      <inertia
        ixx="0.4103"
        ixy="0.0002581"
        ixz="0.0022294"
        iyy="0.079125"
        iyz="9.8891E-05"
        izz="0.39691" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/right_back_bogey.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/right_back_bogey.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_bogey_axel"
    type="fixed">
    <origin
      xyz="-0.00031073 -0.0027889 0.49186"
      rpy="5.2352E-15 0 -1.5708" />
    <parent
      link="right_bogey_top" />
    <child
      link="right_back_bogey" />
    <axis
      xyz="0 0 0" />
  </joint>
<link
    name="WheelRF">
    <inertial>
      <origin
        xyz="-0.0640000000000001 -2.98155597433514E-18 0"
        rpy="0 0 0" />
      <mass
        value="1.86318344508723" />
      <inertia
        ixx="0.0179963942930543"
        ixy="-2.15672374578627E-18"
        ixz="1.63515966176784E-34"
        iyy="0.0131272204160217"
        iyz="-1.94143329058776E-34"
        izz="0.0131272204160217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="AxleRF"
    type="fixed">
    <!-- 0.0254710786476053 -0.0201166854458847  0.000315728425903225 -->
    <origin
      xyz="-0.02 .16 0.000315728425903225"
      rpy="1.5707963267949 0 1.57079633" />
    <parent
      link="right_front_wheel_hub" />
    <child
      link="WheelRF" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link

    name="WheelRM">
    <inertial>
      <origin

        xyz="-0.0640000000000001 -2.98155597433514E-18 0"

        rpy="0 0 0" />
      <mass

        value="1.86318344508723" />
      <inertia

        ixx="0.0179963942930543"

        ixy="-2.15672374578627E-18"

        ixz="1.63515966176784E-34"

        iyy="0.0131272204160217"

        iyz="-1.94143329058776E-34"

        izz="0.0131272204160217" />
    </inertial>
    <visual>
      <origin

        xyz="0 0 0"

        rpy="0 0 0" />
      <geometry>
        <mesh

          filename="package://RightBogey/meshes/Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="AxleRM"
    type="fixed">
    <!-- 0.0254710786476053 -0.0201166854458847  0.000315728425903225 -->
    <origin
      xyz="0 0.02 0.02"
      rpy="1.5707963267949 0 0" />
    <parent
      link="right_back_bogey" />
    <child
      link="WheelRM" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="WheelRB">
    <inertial>
      <origin

        xyz="-0.0640000000000001 -2.98155597433514E-18 0"
        rpy="0 0 0" />
      <mass
        value="1.86318344508723" />
      <inertia
        ixx="0.0179963942930543"
        ixy="-2.15672374578627E-18"
        ixz="1.63515966176784E-34"
        iyy="0.0131272204160217"
        iyz="-1.94143329058776E-34"
        izz="0.0131272204160217" />
    </inertial>
    <visual>
      <origin

        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RightBogey/meshes/Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="AxleRB"
    type="fixed">
    <!-- 0.0254710786476053 -0.0201166854458847  0.000315728425903225 -->
    <origin
      xyz="0 0.5 0.02"
      rpy="1.5707963267949 0 0" />
    <parent
      link="right_back_bogey" />
    <child
      link="WheelRB" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>
