<launch>
  <!-- Publish on "second_joy" to remap it later -->
  <node pkg="joy" type="joy_node" name="bot_joy" >
  
    <param name="dev" type="string" value="/dev/drive_joystick" />
  </node>
  <node pkg="joy" type="joy_node" name="arm_joy" >
    <remap from="joy" to="arm_joy" />
    <param name="dev" type="string" value="/dev/arm_joystick" />
    <param name="deadzone" type="double" value="0.25" />
  </node>
</launch>
