<launch>
	<param name="board_tty" value="/dev/board0"/>
	<!--<node pkg="owr_joystick_filter" type="owr_joystick_filter_node" name="owr_joystick_filter_node" output="screen">
	</node>-->
<!--	<node pkg="owr_joystick_filter" type="owr_joystick_filter_node" name="owr_joystick_filter_node" output="screen">
        </node> -->
	<node pkg="owr_drive_controls" type="owr_drive_board" name="owr_drive_board" output="screen">
	</node>

</launch>

