<robot
  name="VersionABogey">
  <link name="base_link">
        <visual>
          <geometry>
            <box size=" .4   .6 .12"/>
          </geometry>
        </visual>
    </link>
     <joint name="base_to_right_leg" type="fixed">
        <parent link="base_link"/>
        <child link="ABogey"/>
    </joint>
  <link
    name="ABogey">
    <inertial>
      <origin
        xyz="0.161968718328757 0.0985618170826614 0.0295453829333476"
        rpy="0 0 0" />
      <mass
        value="2.00973448771197" />
      <inertia
        ixx="0.0239309211910169"
        ixy="0.00609819224773316"
        ixz="0.000127962603563336"
        iyy="0.166040603913833"
        iyz="-0.000188368584338798"
        izz="0.186754785591779" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://VersionABogey/meshes/ABogey.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.949019607843137 0.909803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://VersionABogey/meshes/ABogey.STL" />
      </geometry>
    </collision>
  </link>
</robot>
