<robot
  name="ForHarryForROSVersA">
  <link name="base_link">
        <visual>
          <geometry>
            <box size=" .4   .6 .12"/>
          </geometry>
        </visual>
    </link>
     <joint name="base_to_right_leg" type="fixed">
        <parent link="base_link"/>
        <child link="NotWheels"/>
    </joint>
  <link
    name="NotWheels">
    <inertial>
      <origin
        xyz="0.0398048295307637 -0.278702173734607 0.372457354706974"
        rpy="0 0 0" />
      <mass
        value="10.5011439530912" />
      <inertia
        ixx="0.21950986701008"
        ixy="-0.014340187135625"
        ixz="-0.00382198824447091"
        iyy="1.60510594181029"
        iyz="0.00861395474489831"
        izz="1.72008926130525" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ForHarryForROSVersA/meshes/NotWheels.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ForHarryForROSVersA/meshes/NotWheels.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Wheels">
    <inertial>
      <origin
        xyz="-0.0639999999999988 -0.500192939055828 -6.10622663543836E-16"
        rpy="0 0 0" />
      <mass
        value="5.58955033526169" />
      <inertia
        ixx="0.986659764134403"
        ixy="-2.56112229052553E-15"
        ixz="-1.47609229483796E-23"
        iyy="0.0393816612480651"
        iyz="-7.35013073401407E-16"
        izz="0.972052242503306" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ForHarryForROSVersA/meshes/Wheels.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ForHarryForROSVersA/meshes/Wheels.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Axle"
    type="fixed">
    <origin
      xyz="-0.45038 -0.47233 -0.44798"
      rpy="-3.1416 -6.123E-17 -1.5708" />
    <parent
      link="NotWheels" />
    <child
      link="Wheels" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
