
<launch>

  <node pkg="LMS1xx" type="LMS100" name="front_laser_driver" output="screen">
    <rosparam file="$(find agvc_sensors)/config/front_laser_params.yaml"/>
    <remap from="scan" to="front_laser/scan_raw"/>
  </node>

  <node pkg="agvc_laser" type="agvc_laser_min_max_angle_filter_node" name="agvc_laser_min_max_angle_filter_node_mark" output="screen">
    <rosparam file="$(find agvc_laser)/config/mark_laser_angle_params.yaml"/>
  </node>

  <node pkg="agvc_laser" type="agvc_laser_min_max_angle_filter_node" name="agvc_laser_min_max_angle_filter_node_clear" output="screen">
    <rosparam file="$(find agvc_laser)/config/clear_laser_angle_params.yaml"/>
  </node>



</launch>

