<launch>
    <!-- TODO: see if this produces better results that just optical flow -->
    <!--<node pkg="crosbot_ogmbicp" type="crosbot_ogmbicp" name="crosbot_ogmbicp" output="screen">-->
        <!--<param name="odom_frame" value="/odom" />-->
        <!--<param name="base_frame" value="/base_footprint" />-->
        <!--<param name="icp_frame" value="/icp" />-->
    <!--</node>-->


    <!-- Manual:  http://robolab.cse.unsw.edu.au:4443/rescue/crosbot/wikis/package/crosbot_graphslam -->
    <node pkg="crosbot_graphslam" type="crosbot_graphslam" name="crosbot_graphslam" output="screen">
        <param name="base_frame" value="/base_footprint" />
        <param name="icp_frame" value="/odom" />
        <!-- use this instead if using ogmbicp -->
        <!--<param name="icp_frame" value="/icp" />-->
        <param name="slam" value="/slam" />
    </node>

</launch>
