<robot
  name="owr_bluetounge_tf">
  <link
    name="camera0">
    <inertial>
      <origin
        xyz="-0.02197 6.91E-10 -0.0094535"
        rpy="0 0 0" />
      <mass
        value="0.10277" />
      <inertia
        ixx="6.5525E-05"
        ixy="-1.9743E-12"
        ixz="1.4459E-05"
        iyy="4.874E-05"
        iyz="-1.4926E-12"
        izz="7.6963E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/camera0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/camera0.STL" />
      </geometry>
    </collision>
  </link>
</robot>