<robot
  name="owr_bluetounge_tf">
  <link name="base_link">
        <visual>
          <geometry>
            <box size=" .4   .6 .12"/>
          </geometry>
        </visual>
    </link>
  <joint name="base_to_bogey" type="fixed">
      <parent link="base_link"/>
      <child link="Bogey"/>
      <origin xyz=".2 0 0" rpy="0 0 1.5"/>
      <axis xyz="0 0 1" />
  </joint>
  <link
    name="Bogey">
    
    <inertial>
      <origin
        xyz="-0.234241553626799 0.177831123348543 -0.0667373603191976"
        rpy="0 0 0" />
      <mass
        value="2.3410771686329" />
      <inertia
        ixx="0.0270924352882268"
        ixy="-0.0071489301852542"
        ixz="-0.000125089538061626"
        iyy="0.187628876498878"
        iyz="-0.000193196871273209"
        izz="0.211224177676753" />
    </inertial>
    <visual>
      <origin
        xyz="-.25 0.2 -0.3"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/Bogey.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.949019607843137 0.909803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/Bogey.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="NotWheels">
    <inertial>
      <origin
        xyz="0.0392455926196791 -0.278821591054246 -0.0775044581371589"
        rpy="0 0 0" />
      <mass
        value="10.5132080311319" />
      <inertia
        ixx="0.219834599370167"
        ixy="-0.0137292813655773"
        ixz="0.00390845019016002"
        iyy="1.60813882713241"
        iyz="-0.00857682818433677"
        izz="1.72318676277576" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/NotWheels.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/NotWheels.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="base_to_notwheels" type="fixed">
      <parent link="Bogey"/>
      <child link="NotWheels"/>
  </joint>
  <link
    name="AWheel">
    <inertial>
      <origin
        xyz="-0.064 0 0"
        rpy="0 0 0" />
      <mass
        value="1.86318344508723" />
      <inertia
        ixx="0.0179963942930543"
        ixy="-3.13334528772355E-18"
        ixz="1.91577009765144E-19"
        iyy="0.0131272204160217"
        iyz="-4.93038065763132E-32"
        izz="0.0131272204160217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/AWheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/AWheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="AAxle"
    type="fixed">
    <origin
      xyz="-0.45037 0.17736 -0.44798"
      rpy="-3.1416 6.123E-17 1.5708" />
    <parent
      link="NotWheels" />
    <child
      link="AWheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="BWheel">
    <inertial>
      <origin
        xyz="-0.0640000000000001 -6.93889390390723E-18 0"
        rpy="0 0 0" />
      <mass
        value="1.86318344508723" />
      <inertia
        ixx="0.0179963942930543"
        ixy="-2.95106269390458E-18"
        ixz="1.91577009765147E-19"
        iyy="0.0131272204160217"
        iyz="-4.93038065763132E-32"
        izz="0.0131272204160217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/BWheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/BWheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BAxle"
    type="fixed">
    <origin
      xyz="0.04963 0.17736 -0.44798"
      rpy="-3.1416 6.123E-17 1.5708" />
    <parent
      link="NotWheels" />
    <child
      link="BWheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="CWheel">
    <inertial>
      <origin
        xyz="-0.064 0 0"
        rpy="0 0 0" />
      <mass
        value="1.86318344508723" />
      <inertia
        ixx="0.0179963942930543"
        ixy="-4.80802807486151E-18"
        ixz="1.9157701117815E-19"
        iyy="0.0131272204160217"
        iyz="-2.46519032881566E-32"
        izz="0.0131272204160217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/CWheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://owr_bluetounge_tf/meshes/CWheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="CAxle"
    type="fixed">
    <origin
      xyz="0.55021 0.17736 -0.44798"
      rpy="3.1416 6.123E-17 1.5708" />
    <parent
      link="NotWheels" />
    <child
      link="CWheel" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
