SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{product}=="Bluetongue Control Board", ATTRS{serial}=="0001333344", SYMLINK+="board0",  GROUP="dialout", MODE="666"

SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{product}=="Bluetongue Control Board", ATTRS{serial}=="0001333533", SYMLINK+="board1",  GROUP="dialout", MODE="666"

SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{product}=="URG-Series USB Driver", SYMLINK+="hokuyo", GROUP="dialout", MODE="666"
