<robot
  name="HalfClawV3.SLDPRT">
  <link
    name="HalfClawV3">
    <inertial>
      <origin
        xyz="-0.02197 0.029522 0.002"
        rpy="0 0 0" />
      <mass
        value="0.0072953" />
      <inertia
        ixx="2.65423565461238E-06"
        ixy="-2.10430534845136E-22"
        ixz="-5.9984111580808E-07"
        iyy="7.36175924493091E-23"
        iyz="-1.23811206975376E-06"
        izz="2.39330912719928E-22" />
    </inertial>
    <visual>
      <origin
        xyz="1.5707963267949 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/ros/owr/owr_software/udrf/src/HalfClawV3/meshes/HalfClawV3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="/home/ros/owr/owr_software/udrf/src/HalfClawV3/meshes/HalfClawV3.STL" />
      </geometry>
    </collision>
  </link>
</robot>
